.page {
  height: 100vh;
  background-color: var(--bg-color);
}

.weui-navigation-bar {
  .new-icon {
    width: 24px;
    height: 24px;
    padding: 4px;

    image {
      width: 100%;
      height: 100%;
    }
  }
}

.navigation-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5000;

  height: 44px;

  background-color: var(--bg-color);
}
