@import "../../style/icon";

.share {
  .share-button {
    width: 80px !important;
    margin: 4px auto 4px 60px;
    padding: 4px 12px !important;
    border: none !important;
    border-radius: 16px;

    background-color: #666 !important;
    color: #fff !important;

    font-weight: 400;
    font-size: 15px;
    line-height: 1.8;
    text-align: left;

    .icon-font {
      margin-right: 4px;
    }
  }
}
