.button-hover {
  background-color: var(--hover) !important;
  color: inherit;
  opacity: 0.7 !important;
}

/*****************
    背景蒙层
*****************/

.mask {
  background: rgba(0, 0, 0, 0.6);
}

.mask,
.mask-transparent {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
}

/*****************
    返回按钮
*****************/

.back-button {
  position: fixed;
  top: 26px;
  left: 9px;
  z-index: 1100;

  width: 46px;
  height: 31px;
  border-radius: 18px;

  background-color: rgba(255, 255, 255, 0.5);

  @media (prefers-color-scheme: dark) {
    background-color: rgba(0, 0, 0, 0.15);
  }

  &::before {
    content: " ";

    position: absolute;
    top: 0;
    left: 0;
    z-index: 98;

    width: 200%;
    height: 200%;
    border: 1px solid rgba(127, 127, 127, 0.2);
    border-radius: 36px;

    transform: scale(0.5);
    transform-origin: 0 0;

    @media (prefers-color-scheme: dark) {
      border: 1px solid rgba(255, 255, 255, 0.2);
    }
  }

  .icon-back,
  .icon-home {
    width: 24px;
    height: 24px;
    margin: 4px auto;
  }
}
