.music-wrapper {
  margin: 12px 15px;

  .avatar {
    float: left;

    overflow: hidden;

    width: 32px;
    height: 32px;
    margin: 0 8px 8px 0;
    border-radius: 50%;

    background-color: var(--grey12);
  }

  .content {
    margin-left: 40px;
  }

  .date {
    color: var(--dark-grey);
    font-size: 14px;
  }

  .text {
    margin: 4px 0;
    font-size: 16px;
    line-height: 1.7;
  }

  .player {
    display: flex;
    align-items: center;

    overflow: hidden;

    margin: 8px 0 8px 40px;
    border-radius: 8px;

    background-color: var(--bg-color-grey);

    .cover {
      width: 60px;
      height: 60px;
    }

    .info {
      flex: 1;
      padding: 4px 8px;
    }

    .name {
      margin: 4px 0;
      font-size: 16px;
      line-height: 1.5;
    }

    .singer {
      color: var(--dark-grey);
      font-size: 12px;
      line-height: 1.5;
    }
  }
}
